<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Venligboerne App</title>

    <script src="js/deeplink.js"></script>
  </head>
  <body>
    <img width="566" height="168" src="http://venligboerne.dk/wp-content/uploads/2017/08/IOSAppStore.png" />
    <img width="566" height="168" src="http://venligboerne.dk/wp-content/uploads/2017/08/google-play-badge.png" />
  </body>
</html>
