<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url"                content="http://ancient-shore-97091.herokuapp.com/app" />
    <meta property="og:title"              content="New Post From The Vengligboerne App" />
    <meta property="og:description"        content="The Venligboerne App is a way for people to communicate, interact within the community, and perform friendly actions." />
    <meta property="og:image"              content="http://www.havdrup.dk/wp-content/uploads/2015/10/Venligboerne-banner.png" />
    <meta property="fb:app_id"             content="779997095515783" />

    <title>Venligboerne App Here is Is</title>

    <script src="js/deeplink.js"></script>
  </head>
  <body>
    <div>Someone sent you a link to a post in the Venligboerne app. Install it to see the post!</div>
    <img width="566" height="168" src="http://venligboerne.dk/wp-content/uploads/2017/08/IOSAppStore.png" />
    <img width="566" height="168" src="http://venligboerne.dk/wp-content/uploads/2017/08/google-play-badge.png" />
  </body>
</html>
